<div class="editor-container">
    <mat-form-field>
        <mat-select placeholder="Select part" [(value)]="selectedPart">
          <mat-option *ngFor="let part of parts" [value]="part">{{part.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Quantity" type="number" [(ngModel)]="quantity"></textarea>
    </mat-form-field>
</div>
<div class="editor-button-row">
    <button mat-raised-button color="primary" (click)="decrease()">Decrease quantity</button>
    <button mat-raised-button color="primary" (click)="increase()">Increase quantity</button>
</div>